body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #ececec;
}
.menu {
  background-color: #655aa3;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  color: #fff;
}

.pagination {
  display: inline-block;
}

.pagination li {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination li.active {
  background-color: #655aa3;
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
